header {
  background-color: var(--background-tertiary-color);
  display: flex; /*Alinha os elementos filhos dentro*/
  flex-direction: row; /*Diz a direção dos elementos filhos*/
  justify-content: space-between; /*Faz com os filhos fiquem um de cada lado da tela*/
  align-items: flex-start; /*Alinha filhos. Flex para o eixo principal(no nosso:row) e start para o contrário */
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
}

nav {
  display: none;
}
