.hero-img {
    height: 400px;
    width: 100%;
    background: url(../img/hero-mobile.png) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .hero-img {
        background: url(../img/hero-tablet.png) no-repeat;
        background-size: cover;
        height: 620px;
    };
}

@media screen and (min-width: 1024px) {
    .hero-img {
        background: url(../img/hero-desktop.png) no-repeat;
        background-size: cover;
        height: 620px;
    };
}